body {
    background-image: url('image/latar form.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    background-color: #e9e6e491;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

form:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #7e4300;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #8B4513;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #D2B48C;
    color: #8B4513;
}

input[type="text"]:focus {
    border-color: #8B4513;
    outline: none;
    background-color: #D2B48C;
    color: #8B4513;
}

button[type="submit"] {
    background-color: #D2B48C;
    color: #8B4513;
    border: 1px solid #8B4513;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s ease;
}

button[type="submit"]:hover {
    transform: scale(1.05);
}
